// Fontes
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,500&display=swap');

$paragraph-font-size: 0.9375rem;

$font-family: 'Overpass', sans-serif;

// Cores
$background-color: hsl(216, 12%, 8%);
$card-background-color: hsl(213, 20%, 18%);
$round-border-background-color: hsl(210, 19%, 18%);

$heading-color: hsl(0, 0%, 100%);
$paragraph-color: hsl(217, 12%, 63%);
$rating-options-color: hsl(216, 12%, 54%);
$accent-color: hsl(25, 97%, 53%);